// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$yellow: #F5D221;
$dark-grey: #2E2E2D;
$text-gray: #7F7F7F;
$main-blue: #1E88E5;
$bright-green: #7cb518;
