.history {
  height: 100vh;
  position: relative;
  padding: 16px;
  .back-btn {
    color: black;
  }
  h2 {
    font-size: 21px;
    font-weight: 600;
    margin: 40px 0 0px;
  }
  .end-time {
    position: relative;
    right: -120px;
    top: -20px;
    font-weight: bolder;
    color: $gray;
  }

  .history-card {
    width: 500px;
    list-style-type: none;
    overflow: hidden;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin-bottom: 20px;
    padding: 15px 30px;
    border-radius: 20px;
  }
  .history-address {
    float: right;
  }
  .start-time {
    font-weight: bolder;
    color: $gray;
    position: relative;
    bottom: -20px;
  }
  .history-price {
    position: relative;
    right: -400px;
    bottom: -80px;
    font-size: 30px;
  }
  .parkicon {
    color: $main-blue;
  }
}
