// Specific CSS for your home-page

  #map {
    width: 100vw;
    height: 320px;
  }
  .home-card-description {
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    background: white;
    border-radius: 70px 70px 0 0;
    text-align: center;
  }

.card-black {
    background-color: black;
    color: white;
}

.yellow {
  background-color: #F5D21F;
  border: #F5D21F;
}

.search-form {
  padding: 30px 8px 30px 8px;
}
