// Specific CSS for your home-page

.subbanner {
    color: white;
    background-color: black;
    text-align: center;
    padding: 30px;
    
}

.btn {
    color: black;
    background-color: yellow;
}

.container {
    width: 800px
}