<h2>History</h2>
<ul class="history">
<% @bookings.each do |booking| %>
  <div class="history-card">
  <li>
    <p><%= booking.parking_lot.address %></p>
    <p>$<%= booking.booked_price %></p>
    <p><%= booking.start_time %></p>
    <p><%= booking.planned_end_time %></p>
  </li>
  </div>
<% end %>
</ul>
