<%# <div>
  <h1>EasyPark</h1>
  <h2>Fast & Convinient</h2>
  <div class="card-homepage">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 p-3 mb-0">
        <%= simple_form_for @parking_lot do |f| %>
        <%#= f.input :address, placeholder: "Location" %>
        <%#= f.input :start_time, as: :datetime, placeholder: "Start Date"%>
        <%#= f.input :planned_end_time, as: :datetime,  placeholder: "End Date"%>
        <%#= f.input :vehicle, collection: current_user.vehicles %>
        <%#= f.submit 'search', class: 'btn btn-success'%>
      <%# </div>
    <% end %>

