<ul>
<% @parking_lots.each do |parking_lot| %>
    <li>
      <%= link_to parking_lot.name, parking_lot_path(parking_lot) %> | <%= parking_lot.address %> | <%= parking_lot.price %> | <%= parking_lot.vehicle_type %>   
    </li>
<% end %>
</ul>
