.container {
  position: relative;
  top: 20px;
  display: flex;
  // justify-content: center;
  // align-items: center;
  flex-wrap: wrap;
  min-width: 90vw;
}

.container .card {
  border-radius: 4px;
  position: relative;
  max-width: 300px;
  height: 270px;
  background: #fff;
  margin: 30px 10px;
  padding: 20px 15px 0 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 202px rgba(0,0,0,0.5);
  transition: 0.3s ease-in-out;
}

.container .card:hover {
  height: 380px;
  .title {
    bottom: 10px;
  }
}

.container .card .imgBx {
  position: relative;
  width: 267px;
  height: 245px;
  top: -60px;
  // left: 20px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.container .card .imgBx img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 4px;
}

.container .card .content {
  position: relative;
  margin-top: -140px;
  padding: 4px 15px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
  &> p {
    margin-bottom: 0.5rem;
  }
}

.container .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}

.history-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  width: 500px;
  text-align: right;
  p {
    font-size: 15px;
  }
}

.bullet {
  list-style-type: none;
}

.parkicon {
  color: $main-blue;
  position: relative;
  left: -400px;
  top: -130px;
}

.time {
  position: relative;
  left: -200px;
  bottom: -100px;
}

.total-time {
  position: relative;
  left: -230px;
  top: -50px;
  color: $text-gray;
  font-weight: bold;
}

.total-price {
  position: relative;
  left: -100px;
  top: -85px;
  font-weight: bold;
  color: $text-gray;
}

.container .card .title {
  position: relative;
  bottom: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  margin-top: 16px;
  a {
    color: black;
  }
}
