#map {
  // border: 3px solid black;
  border-radius: 16px;
  border: 1px solid white;
  top: -4px;
  bottom: -20px;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}