.search-form {
  border-radius: 10px;
  padding: 20px 8px 20px 8px;
}

.home-card-description {
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  background: white;
  border-radius: 40px 40px 0 0;
  text-align: center;
}

.card-black {
  background-color: #424242;
  color: white;
}

.yellow {
background-color: #F5D21F;
border: #F5D21F;
}

.btn {
  border: 1px solid $text-gray;
  border-radius: 40px;
  color: $text-gray;
}

.margin-search {
  margin-top: 20px;
}

.text-align {
  text-align: center;
}